:root {
    --secondary-color: #DB4444;
    --line-color: #bdbbbb;
    --btn-color: #00FF66;
}

html,
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-size: 16px;
    /* Ngăn chặn kéo ngang */
}
h1{
    font-size: 2rem;
    font-weight: 500;
}
h2{
    font-size: 1.5rem;
    font-weight: 500;
}
h3{
    font-size: 1.2rem;
    font-weight: 500;
}

p {
    color: #000;
    font-size: 16px;
    line-height: 1.5;
}

img {
    width: 100%;
    object-fit: cover;
}

body {
    font-family: "Poppins", sans-serif;
}

li {
    list-style: none;
}

section {
    margin-top: 7rem;
}

a {
    text-decoration: none;
    /* Bỏ gạch chân */
    color: inherit;
    /* Giữ nguyên màu chữ */
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    /* Vô hiệu hóa gạch chân khi hover */

    /* Giữ nguyên màu chữ khi hover */
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
    z-index: 1000;
    height: 80px;
}
.header-wrapper:not(.header-wrapper.scrolled){
    margin-top: 2rem;
}
header.scrolled {
    background-color: rgb(244, 244, 244);
    margin-top: 0 !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.sub__header.hidden{
    display: none;
}





.sub__header {
    width: 100%;
    height: 50px;
    background: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.sub__header__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

}

.wrapper__content {
    color: white;
    gap: 10px;

}

.language-selector {
    margin-left: 20px;

    /* Khoảng cách giữa nội dung và dropdown */

}

.language-selector select {
    background-color: #333;
    /* Nền màu cho dropdown */
    color: #fff;
    /* Màu chữ cho dropdown */
    border: none;
    padding: 5px;
    /* Thay đổi khoảng cách bên trong nếu cần */
    border-radius: 3px;
    cursor: pointer;
    /* Thay đổi con trỏ khi hover */
    width: 150px;
    /* Chiều rộng của dropdown */
    font-size: 15px;
    /* Kích thước chữ nếu cần */
    appearance: none;
    /* Xóa bỏ kiểu mặc định của trình duyệt */
    -webkit-appearance: none;
    /* Đảm bảo hoạt động trên WebKit-based browsers (Chrome, Safari) */

}

.language-selector {
    position: relative;
    display: inline-block;
}

.wrapper__location {
    position: absolute;
    right: 20rem;
}

.language-selector::after {
    content: "▼";
    /* Mũi tên chỉ hướng xuống */
    position: absolute;
    top: 50%;
    right: 10px;
    /* Điều chỉnh khoảng cách từ cạnh phải của dropdown */
    transform: translateY(-50%);
    color: #fff;
    /* Màu mũi tên */
    pointer-events: none;
    /* Đảm bảo mũi tên không cản trở việc chọn */
}

/* header__link */
.nav__link {
    margin-inline-start: 3rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__link a {
    /* Màu chữ của liên kết */
    color: black;
    text-decoration: none;
    /* Khoảng cách bên trong cho các liên kết */
    border-radius: 3px;
    /* Bo góc nhẹ cho các liên kết */
    transition: color 0.3s;
    /* Hiệu ứng chuyển khi hover */
}

.nav__link a:hover {
    color: red;
    /* Màu nền khi hover */
}

/* searchbox */
.hd__searchbox {
    position: relative;
}

#searchbox {
    width: 100%;
    /* Chiều rộng đầy đủ */
    padding: 10px 40px 10px 10px;
    /* Padding bên phải đủ chỗ cho biểu tượng */
    font-size: 16px;
    /* Kích thước chữ */
    border: 1px solid #ccc;
    /* Đường viền */
    border-radius: 5px;
    /* Bo góc */
}

.search__icon {
    position: absolute;
    /* Định vị tuyệt đối */
    right: 7rem;
    ;
    /* Căn lề phải */
    color: #999;
    /* Màu sắc biểu tượng */
    cursor: pointer;
    /* Thay đổi con trỏ khi hover */
}

.search__icon i {
    font-size: 20px;
    /* Kích thước biểu tượng */
}

.icon__hd i {
    margin-inline-start: 2rem;
    font-size: 20px;
}

.mega__menu__wrapper {
    border-right: 1px solid rgb(173, 169, 169);
}

/* megamenu */
.menu__list__wrap {
    padding-top: 20px;
}
.mega__menu{
    margin-top: 10rem;
}

.banner__cta {
    position: absolute;
    bottom: 3rem;
    left: 4.3rem;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

/* Flashsalee */
.icon__cate {
    width: 20px;
    height: 40px;
    background: var(--secondary-color);
}

.cate {
    gap: 10px;
}

.cate span {
    color: var(--secondary-color);
    font-weight: 500;
}

.flashsale__count {
    font-size: 20px;
    font-weight: bold;

    /* Bạn có thể thay đổi màu sắc nếu muốn */
}

.flashsale__count {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.countdown-item {
    text-align: center;
    margin: 0 10px;
}

.countdown-item span {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

.countdown-item .label {
    font-size: 0.8em;
    color: #888;
}

.flashsale__count .separator {
    color: red;
    margin-top: -20px;
}

.flashsale__slide i {
    font-size: 2rem;
    margin-inline-start: 20px;
}

/* cardsp */
.card__hd {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 250px;
    background: #F5F5F5;

}

.card__hd img {
    transition: transform 0.2s ease-in;
    object-fit: cover;
}

.tag__sale,
.tag__icon {
    position: absolute;
    top: 10px;
}

.tag__icon {
    right: 5px;
}

.tag__sale {
    left: 10px;
}

.tag__sale {
    width: 55px;
    height: 26px;
    background: var(--secondary-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__name {
    font-size: 20px;
}

.card__price .card__new-price {
    font-size: 1.5rem;
    color: var(--secondary-color);
}

.card__price .card__old-price {
    text-decoration: line-through;
    color: gray;
}

.card__cartitem {
    bottom: 1.5rem;
    height: 15%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 100%;
    background: #000;
    ;
    align-items: center;
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.card__item:hover .card__cartitem {
    opacity: 1;
    visibility: visible;
}



.swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 50px;
    overflow: hidden;
    

    /* Kích thước của slider */
}

.view__all {
    display: flex;
    justify-content: center;
    align-items: center;
}
#notification {
    position: fixed;
    top: 100px;
    right: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
}
.viewall__button {
    width: 234px;
    height: 56px;
    background: var(--secondary-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.viewall__button p {
    margin: auto;
    cursor: pointer;

}

.flash__sale__wrapper {
    position: relative;
}

.flash__sale__wrapper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    margin-top: 2rem;
    background: var(--line-color);
}
.fa-circle-arrow-left ,.fa-circle-arrow-right {
    font-size: 2rem;
    margin-inline-start: 20px;
}

/* Danh mục sản phẩm */
.category__item__img {
    width: 80px;
    height: 80px;
    position: relative;
}

.category__item {
    width: 170px;
    height: 145px;
    border: 1px solid var(--line-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.category__lists .swiper-slide {
    max-width: 200px;
}
.swiper-slide:first-child {
    margin-left: 0 !important;
}

.category__slide i {
    font-size: 2rem;
    margin-inline-start: 20px;
}

.category__item:hover {
    background: var(--secondary-color);
}

.category__item:hover .category__item__img img {
    opacity: 0;
}

.category__item__img::before {
    content: "";
    position: absolute;
    background-image: url(/assets/img/Vector.png);
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    object-fit: cover;
    background-position: center;
    transition: opacity 0.3s ease;
    opacity: 0;
    background-repeat: no-repeat;
}

.category__item:hover .cate__name {
    color: white;
    /* Đổi màu chữ thành trắng khi hover */
    transition: color 0.5s ease;
    /* Thêm hiệu ứng chuyển đổi mượt mà */
}

.category__item:hover .category__item__img::before {
    opacity: 1;
}

.categories__wrapper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    margin-top: 2rem;
    background: var(--line-color);
}

.categories__wrapper {
    position: relative;
}

/* Selling Prod */
.view__all__btn {
    width: 159px;
    height: 56px;
    background: var(--secondary-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.view__all__btn p {
    margin: auto;
    color: white;
}

.img__wrapper {
    width: 190px;
    height: 180px;

}

/* Banner__PROMO */
.banner__promo__img {
    /* position: relative; */
        /* Đảm bảo thẻ con được định vị chính xác */
        background-image: url('/assets/img/banner\ qc.png');
        /* Đường dẫn tới hình ảnh của bạn */
        background-size: cover;
        /* Đảm bảo hình ảnh bao phủ toàn bộ thẻ */
        background-position: center;
        /* Căn giữa hình ảnh */
        width: 100%;
        /* Đảm bảo thẻ bao phủ toàn bộ chiều rộng */
        height: 500px;
        /* Chiều cao toàn màn hình */

}

.promo__img {
    height: 415px;
    object-fit: cover;
}

.banner__promo__inside {
    top: 20%;
    padding: 0 50px;
}

.bn__inside__left__wrapper span {
    color: var(--btn-color);
}

.banner__promo__count .countdown-item {
    width: 90px;
    height: 90px;
    background: white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner__promo__cta {
    width: 171px;
    height: 56px;
    background: var(--btn-color);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 1em;
}
/* New__arrival */
.new__arrival__left {
    flex-direction: column;
}
.new__arrival__left{
    position: relative;
}
.left__content{
position: absolute; /* Add absolute positioning */
 bottom: 20px;
 left: 50px;
 width: 242px;
 height: 122px;
 text-wrap: wrap;
}
.new__arrival__topbanner{
    width: 100%;
    height: 300px;
    background: #0D0D0D;
}
.new__arrival__right{
    justify-content: space-between;
}
.topbanner__content{
    z-index: 99;
    width: 255px;
    height: 122px;  
    left: 40px;
    bottom: 80px;
}
.topbanner__img{
    right: 0;
    bottom: 0;
    
}
.bottombanner__left__wrapper , .bottombanner__right__wrapper{
    background-image :url("/assets/img/Frame 686.png");
    background-repeat: no-repeat;
    width: 370px;
    height: 300px;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
}
.justifyimg__banner{
    position: absolute;
    bottom: 40px;
    left: 40px;
  
}
.justifycontent__banner{
   z-index: 999;
    transform: translate(-30%,60%);
}
.why__us__logo:first-child{
 margin-left: 50px;
}
.why__us__logo img {
    margin: 0 auto;
    /* Canh giữa */
    margin-left: 100px;
    /* Khoảng cách giữa các ảnh */
}

.small-img {
    width: 30%;
    /* Điều chỉnh kích thước hình ảnh */
    max-width: 150px;
    /* Bạn có thể thay đổi giá trị này theo ý muốn */
}
.why__us__desc{
    text-align: center;
}
/* Footer */
.footer-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    background-color: #000;
    color: #fff;
    padding: 20px;
}

.footer-item {
    padding: 10px;
   
}

.footer-item h3 {
    margin-bottom: 10px;
    color: white;
}

.footer-item p{
    color: white;
}
.footer-item form {
    display: flex;
}

.footer-item form input {
    flex: 1;
    padding: 5px;
    margin-right: 5px;
}

.footer-item form button {
    padding: 5px;
}

.app-download img {
    display: block;
    margin-bottom: 5px;
}

.social-icons i {
    margin-right: 10px;
    font-size: 20px;
}

/* -------------------------------------------------------------------------------------------------------- */
/* About__us */
.our-story{
    position: relative;
}
.our-story-img{
    position: absolute;
    right: 0;
    width: 900px;  
    overflow: hidden; 
}
.our-story-content{
    margin-top: 300px;
}
.our-story-content h1 , .our-story-content p{
    line-height: 1.8;
}
/* about__num */
.about-num-box{
    min-height: 230px;
    border: 1px solid rgb(187, 184, 184);
    border-radius: 4px;

    
}
.about-nums{
    margin-top: 300px;
}
.img-people-wrapper{
    position: relative;
    background-color: #F5F5F5;
    width: 370px;
    height: 430px;
}
.img-people{
    position: absolute;
    bottom: 0;
    left: 80px;
}
.people-body{
    width: 370px;
}
.swiper-pagination {
    /* Vị trí dưới cùng của Swiper */
    text-align: center;
    
}


.swiper-pagination-bullet {
    background: #000;
    width: 15px;
    height: 15px;
    /* Màu nền của các điểm điều hướng */
   
}
/* Trang products */
.product-info{
    margin-top: 15rem;
}
.prod-gallery .prod-gallery-img img{
    width: 145px;
    height: auto;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 4px;
}
.prod-gallery-img:first-child img{
    margin-top: 0;
}
.col-prod-left{
    gap: 40px;
}
.prod-price p{
    font-size: 24px;
    font-weight: 400;
    margin: 30px 0;
}
.prod-description{
    text-wrap: wrap;
}
.prod-description p{
    font-size: 17px;
    margin-bottom: 30px;  
}
.prod-attribute{
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.prod-attribute span {
    font-size: 17px;
    font-weight: 400;
    margin: 0 15px;
}
.prod-attribute .prod-atrribute-name {
    margin: 0;
    font-weight: bold; 
}
.prod-size-pick {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    transition: border 0.3s ease;
}
.prod-color-pick{
    cursor: pointer;
}
.prod-size-pick:hover {
    border: 1px solid var(--btn-color);
}
.prod-detail::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    
}
.quantity-btn{
    width: 50px;
        height: 40px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        transition: all 0.5s ease;
}
.quantity-btn:focus{
    background-color: var(--secondary-color);
}
.quantity-container input{
    width: 100px;
    font-size: 17px;
    font-weight: bold;
    max-height: 40px;
}
.prod-add-to-cart{
    width: 165px;
    height: auto;
    color: white;
    background-color: var(--secondary-color);
    border-style: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
}
.prod-wishlist{
    border: 1px solid black;
    width:40px ;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.prod-wishlist i{
    font-size: 1.5rem;
    
}
    .prod-action{
        display: flex;
        gap: 30px;
       flex-direction: row;
    }
  .policy{
    gap: 20px;
    border: 1px solid black;
    padding: 20px 30px;
    border-radius: 4px;
    
  }
  .prod-size-select{
    display: flex;
    flex-direction: row;
  }
  /* wishlist */
    .count-list-num{
        font-size: 25px;
        color: red;
    }

    /* pagecart */
    .cart-lists{
        margin-top: 15rem;
    }
    table{
        width: 100%;
    }
         .cart-table {
             width: 100%;
             border-collapse: collapse;
             margin: 20px 0;
             font-size: 18px;
             text-align: left;
         } 
         .shop-table thead tr {
             background-color: #f2f2f2;
             color: #333;
             text-align: left;
            
         }
    
         .shop-table th,
         .shop-table td {
             padding: 15px;
             border-bottom: 1px solid #ddd;
             
         }
    
         .shop-table tbody tr:hover {
             background-color: #f5f5f5;
         }
    
         .cart-product-wrap {
             align-items: center;
             position: relative;
         }
    
         .cart-product-img img {
             width: 100px;
             height: auto;
         }
    
         .cart-product-name p {
             margin: 0;
             padding-left: 15px;
         }
    
         .shop-table td[data-text="Price"],
         .shop-table td[data-text="Quantity"],
         .shop-table td[data-text="Subtotal"],
                 .shop-table td[data-text="Action"] {
             text-align: left;
            vertical-align: middle;
         }
         .delete-cart{
            position: absolute;
            top: -15px;
            color: red;
            left: -9px;
            font-size: 2rem;
         }
                                 .quantity {
                                     display: flex;
                                     align-items: center;
                                     border: 1px solid #ccc;
                                     border-radius: 8px;
                                     width: 80px;
                                     overflow: hidden;
                                 }
                
                                 .quantity input {
                                     border: none;
                                     text-align: center;
                                     width: 50%;
                                     font-size: 16px;
                                 }
                
                                 .quantity input[type=number]::-webkit-inner-spin-button,
                                 .quantity input[type=number]::-webkit-outer-spin-button {
                                     -webkit-appearance: none;
                                     margin: 0;
                                 }
                
                                 .quantity input[type=number] {
                                     -moz-appearance: textfield;
                                 }
                
                                 .quantity-button {
                                     display: flex;
                                     flex-direction: row;
                                 }
                
                                 .quantity button {
                                     background: none;
                                     border: none;
                                     cursor: pointer;
                                     width: 25px;
                                     height: 25px;
                                     font-size: 16px;
                                     display: flex;
                                     justify-content: center;
                                     align-items: center;
                                     padding: 0;
                                     margin: 0;
                                 }
                .cart-cta-inner {
                    height: auto;
                   background: transparent;
                   border: 1px solid black !important;
                    padding: 15px 20px;
                    border-radius: 4px;
                }
                .coupon-code input {
                    height: 56px;
                    border-radius: 4px;
                border-style: none;
                border: 1px solid black;
                }
                .coupon-cta{
                    background-color: var(--secondary-color);
                    color: white;
                    padding: 15px 20px;
                    border-radius: 4px;
                    
                }
                                .coupon-code input::placeholder {
                                    color: #888;
                                    /* Màu của placeholder */
                                    font-size: 16px;
                                    /* Kích thước chữ của placeholder */
                                    opacity: 1;
                                    /* Đảm bảo rằng placeholder không bị mờ */
                                }
                                




