<section class="footer-container">
    <div class="footer-item">
        <h3>Exclusive</h3>
        <p>Subscribe</p>
        <p>Get 10% off your first order</p>
        <form>
            <input type="email" placeholder="Enter your email">
            <button type="submit">></button>
        </form>
    </div>
    <div class="footer-item">
        <h3>Support</h3>
        <p>111 Bijoy sarani, Dhaka, DH 1515, Bangladesh.</p>
        <p>exclusive@gmail.com</p>
        <p>+88015-88888-9999</p>
    </div>
    <div class="footer-item">
        <h3>Account</h3>
        <p>My Account</p>
        <p>Login / Register</p>
        <p>Cart</p>
        <p>Wishlist</p>
        <p>Shop</p>
    </div>
    <div class="footer-item">
        <h3>Quick Link</h3>
        <p>Privacy Policy</p>
        <p>Terms Of Use</p>
        <p>FAQ</p>
        <p>Contact</p>
    </div>
    <div class="footer-item">
        <h3>Download App</h3>
        <p>Save $3 with App New User Only</p>
        <div class="app-download">
            <img src="qr-code.png" alt="QR Code">
            <img src="google-play.png" alt="Google Play">
            <img src="app-store.png" alt="App Store">
        </div>
        <div class="social-icons">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin-in"></i>
        </div>
    </div>
</section>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"
        integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

            <script src="js/main.js"></script>
