<header class="header mt-5">
  
        <div class="  container ">
            <div class="header-wrapper d-flex align-items-center justify-content-between">
        <div class="logo__header">
           <a href="/public/main.html"><h1>Exclusive</h1></a> 
        </div>
        <nav class="nav__header d-flex">
            <ul class="nav__links d-flex align-items-center pt-3" id="navbar__list__pc">
                <li class="nav__link"><a href="/public/main.html">Home</a></li>
                <li class="nav__link"><a href="/public/about.html">About Us</a></li>
                <li class="nav__link"><a href="/public/product.html">Products</a></li>
                <li class="nav__link"><a href="/contact">Sign up</a></li>
            </ul>
        </nav>
        <div class="hd__searchbox d-flex align-items-center">
            <input type="text" name="searchbox" id="searchbox" placeholder="What are you looking for " value="">
            <div class="search__icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
                <div class="icon__hd d-flex">
                    <div class="heart__icon">
                       <a href="/public/wishlist.html"><i class="fa-regular fa-heart"></i></a> 
                    </div>
                    <div class="shopping__cart__icon">
                       <a href="/public/cart.html"> <i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
                </div>
        </div>
    </div>
    
    
</header>

